div, input, textarea {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-size: 32px;
	line-height: 48px;
	font-family: $play-black;
	margin-bottom: 20px;
	color: $purple;
}

h2 {
	font-size: 22px;
	line-height: 33px;
	color: $purple;
	font-family: $play-bold;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	font-family: $rob-black;
	text-transform: uppercase;
}

h4 {
	font-size: 14px;
	line-height: 21px;
	font-family: $rob-black;
	text-transform: uppercase;
	color: $purple;
	margin-bottom: 20px;
}

p {
	font-size: 14px;
	line-height: 21px;
	font-family: $rob-light;
	margin-bottom: 20px;
	color: $gray;
}

a {
	text-decoration: none;
	color: $white;
	transition: .2s;
	&:hover {
		color: $orange;
	}
}