.story {
	.row {
	margin-top: 100px;
	margin-bottom: 100px;
	@media (max-width: 767px) {
		margin-top: 50px;
		margin-bottom: 50px;
		}
	}
}

.large-logo {
	text-align: center;
		img {
			width: 235px;
			height: 230px;
		}
}

.our-story {
	h1 {
		text-transform: uppercase;
		font-family: $play-bold;
		font-size: 22px;
	}
}